.cards {
    /* padding: 20px 15px;
    float: right;
    width: 80%; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.no-cards {
    color: white;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    /* margin: auto; */
    animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }