@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  /* background: rgb(212,23,181);
  background: linear-gradient(149deg, rgba(212,23,181,1) 0%, rgba(240,19,101,1) 24%, rgba(245,155,36,1) 100%);
  background-attachment: fixed; */
  background-color: #0E2A47;
}

