.sign-in-container{
    background-color: rgba(228, 161, 161, 0.482);
    display: inline-block;
    width: 30%;
    margin: 5% 35%;
    text-align: center;   
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

.input-form{
    background-color: rgb(217, 68, 98);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    
}
.img-login{
    display: block;
    margin: auto;
    width: 50px;
}
.btn-form{
    background-color: white;
    font-size: 15px;
    padding: 10px;
    width:50%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}